@import url("https://fonts.googleapis.com/css?family=Raleway:300");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body{
    background-color: #34495e;
    font-family: 'Raleway', sans-serif;
    color: white;
}

a, a:focus{
    color: white;
}
a:hover{
    color: inherit;
}

.page-content{
    padding-top: 50px;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    position: relative;
    width: 100%;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #2ecc71; /* For browsers that do not support gradients */    
    background: -webkit-radial-gradient(#2ecc71, #27ae60); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#2ecc71, #27ae60); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#2ecc71, #27ae60); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#2ecc71, #27ae60); /* Standard syntax (must be last) */
}

.card-2{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #1abc9c; /* For browsers that do not support gradients */    
    background: -webkit-radial-gradient(#1abc9c, #16a085); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#1abc9c, #16a085); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#1abc9c, #16a085); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#1abc9c, #16a085); /* Standard syntax (must be last) */
}



.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input{
    color: black;
}

table{
    font-weight: 600;
}

td {
    text-align: center;
    padding: 20px !important;
    vertical-align: middle!important;
}

th{
    text-align: center;
}

thead{
    background-color: #1a1a1a;
}

md-input-container input{
    color: white !important;
}

.table md-input-container{
    margin: 0px ;
}

.navbar{
    font-weight: bold;
}

.md-danger{
    color: white !important;
    background-color: #c0392b !important;
    font-weight: bold;
}

.md-warning{
    color: white !important;
    background-color: #f39c12 !important;
    font-weight: bold;
}


.md-success{
    color: white !important;
    background-color: #27ae60 !important;
    font-weight: bold;
}

.md-default{
    color: white !important;
    background-color: #2980b9 !important;
    font-weight: bold;
}